<%= image_tag "cart.png", size: "80x108", :onclick => 'alert("You will be redirected to your cart...")', :class => "style_cart_image" %>


<%= image_tag "pay.png", size: "80x108", :onclick => 'alert("You will be redirected to payment...")', :class => "style_pay_image" %>


<div class="headers">
<h1 id="physicianHeader">AIG WeCover</h1>
<h2 id="benefitsHeader">Benefits of Coverage</h2>
</div>
<div class="subtitleCoverage">
<p>Accidents happen. AIG WeCover can ease your mind about those unexpected moments by offering rapid repair or replacement for covered damages, 
so you (and your phone) can be back to normal as soon as possible. Coverage includes:
</p>
</div>
<hr>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: rgb(64,83,105);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #7f90a3;
}

.content {
  padding: 0;
  display: none;
  overflow: hidden;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f1f1f1;
}

#collapsibles{
  text-align: center;
}

.collapsible:after {
  content: "＋"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
}

.active:after {
  content: "−"; /* Unicode character for "minus" sign (-) */
}

</style>
</head>
<body>

<div id="collapsibles">
<button type="button" class="collapsible">Screen Replacements</button>
<div class="content">
  <p>Priority repair of broken screens at any approved repair location, with no additional out-of-pocket costs.</p>
</div>
<button type="button" class="collapsible">Battery Replacements</button>
<div class="content">
  <p>If the phone battery fails unexpectedly or drops below acceptable battery health levels, WeCover will provide a replacement.</p>
</div>
<button type="button" class="collapsible">Total Loss</button>
<div class="content">
  <p>This inclusive option covers replacement for theft, extensive water damage, internal failure, and more. A replacement phone will be express shipped to your doorstep.</p>
</div>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</body>
</html>

<%= render 'form', quote: @quote %>

<%#= link_to 'Back', quotes_path %>
