<div class="homeHeader"><h2>Welcome to AIG WeCover, please click the 
link below to start calculating your quote.</h2></div>
<div class="homeButton">
<%= link_to 'New Quote', new_quote_path, :class => 'homeQuoteButton', style: "color: white;" %>
</div>